
:root {
    --maintext: rgba(250, 252, 255, 0.694);
    --secondarytext: rgba(255, 253, 250, 0.192);
    --accent: rgb(0, 200, 255);
    --accentBG: rgba(0, 106, 255, 0.096);

    --defaultPadding: 5px;
}
body{
    background-color: rgb(17, 17, 17);
    color: var(--maintext);
    font-family:Urbanist ;
    margin: 0px;
    font-size: 20px;
}
.lessimportant{
    color: var(--secondarytext);
}

a{
    text-decoration: none;
    color: var(--maintext);
}
a:visited{
    color: var(--maintext);
}

button{
    font-family:Urbanist, sans-serif;
    background-color: transparent;
    color:var(--maintext);
    border-style: solid;
    padding: 5px;
    padding-left: var(--defaultPadding);
    padding-right: var(--defaultPadding);
    margin-left: var(--defaultPadding);
    margin-right: var(--defaultPadding);
    border-color: var(--maintext);
    border-width: 1px;
    border-radius: 4px;
    font-size: 15px;
    transition: 2s;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.194);
    color:white;
    border-color: white;
    transition: 0.25s;
}
button:active{
    color: #269e6c6f;
    color:rgb(122, 122, 122);
    background-color: transparent; 
    border-color: rgb(122, 122, 122);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    background-color: rgba(247, 247, 247, 0.066);
    text-align:center;
    margin-top: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.295);
    border-top-color: rgba(255, 255, 255, 0.461);
    border-radius: 4px;
}

.langSelect{
position: absolute;
top:7.5px;
right: 25px;
height: 10px;
width: 20px;
transition: 0.5s;
}

.langSelect:hover{
    /* transform: scale(125%); */
    transition: 0.1s;
    background-color: rgba(247, 247, 247, 0.196);
}

.langSelect:active{
    transform: scale(80%);
    background-color: rgba(0, 0, 0, 0.196);
    transition: 0.025s;

}
.langSelect > img{
position: absolute;
right: 6px;
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;


    background-color: rgba(247, 247, 247, 0.066);
    text-align:center;
    border-color: rgba(255, 255, 255, 0.295);
    border-top-color: rgba(255, 255, 255, 0.461);
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    padding-top: 4px;
    padding-bottom: 4px;
}




.urbanist-f {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
h1{
    font-size: 65px;
    margin: 10px;
}  
h3{
    margin: 0px;
    font-size: 40px;
}
.titletext{
    font-weight: 800;
    font-size:40px;
}
.spacer{
    width: 33%;
    height: 5.3px;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #fff9f767 50%, rgba(255,255,255,0) 100%);
margin: 0 auto;

}


/* MARIO */
.pixel{
    image-rendering: pixelated;
}
.gamescreen{
    height: 500px;
    bottom: 33px;
    left: 0px;
    right: 0px;
    position: absolute;
}
.mario{
    height: 64px;
    width: 32px;
    position: absolute;
}
.block{
    height: 32px;
    width: 32px;
    position: absolute;
}





















.shadow{
    filter: drop-shadow(0px 0px 16px rgb(0, 0, 0));
}

.container{
    margin: 0 auto;
    width: max-content;
}

.buttons{
    margin: 0 auto;
    width: max-content;
}
.main{width: 40%;}
.mainwide{width: 75%;}
redacted{
    color:black;
    background-color: black;
}
.no-margin{
    margin: 0px !important;
}
.content{
    background-color: black;
}


.container:hover{
    border-color: rgb(255, 153, 0);
    transition: 0.2s;
    filter: drop-shadow(0px 0px 256px rgba(255, 153, 0, 0.251));
}


.container * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 200px;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.39);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.043);
    transition: 0.2s;

}

.container-img {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 8px;
    margin-right: 10px;
}

.custom-right-div {
    display: flex;
    flex-direction: column;
    width: calc(100% - 260px); /* Subtract the width of the left div and margin */
}

.custom-right-div .container-text {
    width: 100%;
    text-align: left;
    height: 50px;
    margin-bottom: 10px;
}

.custom-right-div .container-desc {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    text-align: left;
    color: rgba(255, 255, 255, 0.397);
}
.counter-blank{display: none;}
.custom-bottom-container {
    display: flex;
    align-items: center;
    text-align: left;
    color: rgba(255, 255, 255, 0.217) ;
}

.custom-right-div .custom-bottom-div {
    flex: 1;
    height: 30px;
}

.custom-button {
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.694);
}
.banner{

        background-image: url("sim/whoturnedoffthelights.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0px;
        height: 512px;
        background-size: 100% auto;
        background-color: rgb(0, 0, 0);

}

.simcontent{
    background-image: url("sim/dark.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;

    background-size: 100% auto;

}
.simdownload{
    background-image: url("sim/trackview.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;

    background-size: 100% auto;
}
h2{
    margin-top: 0px;
}
.smallcontain{
    width: 450px;
margin-left: auto;
margin-right: auto;
}


::-moz-selection { /* Code for Firefox */
    color: rgb(0, 200, 255);
    background: rgba(0, 106, 255, 0.096);
    border-radius: 4px;
  }
::selection {
    color: rgb(0, 200, 255);
    background: rgba(0, 106, 255, 0.096);
}