
:root {
    --maintext: rgba(250, 252, 255, 0.694);
    --secondarytext: rgba(255, 253, 250, 0.192);
    --accent: rgb(0, 200, 255);
    --accentBG: rgba(0, 106, 255, 0.096);

    --defaultPadding: 5px;
}
html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
    color: var(--maintext);
    font-family:Quicksand, sans-serif;
    margin: 0px;
    font-size: 20px;
    background: url("../bg.png");
    backdrop-filter: blur(25px) saturate(200%);
    min-height: 100%;
    padding-top: 25px;
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
}

nav{
    background-color: rgba(0, 0, 0, 0);
    text-align:center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-top-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--maintext);
}
a:visited{
    color: var(--maintext);
}

button{
  font-family: "Quicksand", sans-serif;
    background-color: transparent;
    color:var(--maintext);
    border-style: solid;
    padding: 5px;
    padding-left: var(--defaultPadding);
    padding-right: var(--defaultPadding);
    margin-left: var(--defaultPadding);
    margin-right: var(--defaultPadding);
    border-color: rgba(255, 255, 255, 0.1);
    border-top-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    border-radius: 4px;
    font-size: 15px;
    transition: 0s;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}
button:hover{
    color:white;
    border-color: rgb(255, 0, 64);
    filter: drop-shadow(0px 0px 8px rgb(255, 0, 64)) !important;
    transition: 0.25s;
}
button:active{
    color:white;
    border-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 8px rgb(255, 255, 255)) !important;
    transition: 0s;
}

.spacer{
    width: 33%;
    height: 5.3px;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #fff9f767 50%, rgba(255,255,255,0) 100%);
margin: 0 auto;

}

.main{width: 40%;}
.main.wide{width: 75%;}
.main.full{width: 100%;}
.no-margin{
    margin: 0px !important;
}


::-moz-selection { /* Code for Firefox */
    color: rgb(0, 200, 255);
    background: rgba(0, 106, 255, 0.096);
    border-radius: 4px;
  }
::selection {
    color: rgb(0, 200, 255);
    background: rgba(0, 106, 255, 0.096);
}