:root{
    --defaultpadding: 8px;
}

@font-face {
    font-family: sfProDisplay;
    font-weight: medium;
    src: url("styles/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  }
  @font-face {
    font-family: sfProDisplay;
    font-weight: bold;
    src: url("styles/SFPRODISPLAYBOLD.OTF") format("opentype");
  }
  @font-face {
    font-family: sfProDisplay;
    font-weight: normal;
    src: url("styles/SFPRODISPLAYREGULAR.OTF") format("opentype");
  }
      

html, body{
    background-color: rgb(26, 26, 26);
    color: rgb(174, 174, 174);
    margin: 0px;
    font-family: sfProDisplay, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;

    width: 100%;
    height: 100%;

}
nav{
    background-color: rgb(58, 58, 58);
    padding: 0px;
    color: rgb(174, 174, 174);
    position: absolute;
    top: 0;
    width: calc(100% - var(--defaultpadding));
    height: 32px;
    line-height: 32px;
    padding-left: var(--defaultpadding);
}
#stats{
    position: absolute;
    right: var(--defaultpadding);
}
button{
    background-color: transparent;
    border: none;
    color: rgb(174, 174, 174);
    font-size: 16px;
    font-family: sfProDisplay,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button:hover{
   color: white; 
}
canvas{
    display: block;
    image-rendering: pixelated;
}

.toolbox{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    box-shadow: black 0px 0px 5px;
    height: 156px;
}
.toolbox #title{
    background-color: rgb(58, 58, 58);
    font-size: 16px;
    padding-left: var(--defaultpadding);
    height: 24px;
    line-height: 24px;
    transition: 0.5s;
}
.toolbox #title:hover{
    background-color: rgb(70, 70, 70);
}
.toolbox .main{
    display: flex;
    width: 100%;
    height: calc(100% - 24px);
}
.toolbox .left{
    border-right: rgb(70, 70, 70) 1px solid;
    width: calc(256px - var(--defaultpadding));
    height: calc(100% - var(--defaultpadding));
    padding-top: var(--defaultpadding);
    padding-left: var(--defaultpadding);
}
input {
    accent-color: rgb(160, 65, 255);
}

.windowID{
    display: none;
}

.window{
    position: absolute;
    top: 150px;
    left: 150px;
    height: 204px;
    width: 400px;
    background-color: rgb(36, 36, 36);
    box-shadow: black 0px 0px 5px;
    border-radius: 4px;
    overflow: hidden;
}
.window .titlebar{
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    background-color: rgb(58, 58, 58);
    padding-left: var(--defaultpadding);
    transition: 0.5s;
}
.window .titlebar:hover{
    background-color: rgb(70, 70, 70);
}

